<p>Starting from the seminal works of Tukey (1960) and Huber (1964), the field of robust statistics asks: Are there estimators that provably work in the presence of noise?  The trouble is that all known provably robust estimators are also hard to compute in high-dimensions.</p>

<p>Here, we study a basic problem in robust statistics, posed in various forms in the above works.  Given corrupted samples from a high-dimensional Gaussian, are there efficient algorithms to accurately estimate its parameters?  We give the first algorithms that are able to tolerate a constant fraction of corruptions that is independent of the dimension.  Additionally, we give several more applications of our techniques to product distributions and various mixture models.</p>

<p>This is based on joint work with Ilias Diakonikolas, Jerry Li, Gautam Kamath, Daniel Kane and Alistair Stewart.</p>
