
strong {
    font-weight: 400;
}

.epfl-logo {
    width: 90%; 
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.background {
    min-height: 512px;
}

.map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    margin-bottom: 35px;
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.talk {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 90%;
}

.time {
    margin-right: 20px;
}

.title {

}

.speaker {

}

.abstract {
    padding: 20px 40px 10px 40px;
}

.abstract .meta {
    font-size: 90%;
}

.abstract .body {
    font-size: 75%;
    line-height: 1.7;
    text-align: left;
}

.abstract .body p {
    padding: 0 0 15px 0;
    margin: 0;
}


@media screen and (min-width: 961px) {
    .background {
        min-height: 768px;
    }

}
