
strong {
    font-weight: 400;
}

.epfl-logo {
    width: 90%;
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.background {
    min-height: 512px;
}

.map-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    margin-bottom: 35px;
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media screen and (min-width: 961px) {
    .background {
        min-height: 768px;
    }

}
