#banner {
    vertical-align: top;
    max-height: 400px;
    max-width: 100%;
}

strong {
    font-weight: 400;
}

.epfl-logo {
    width: 80%;
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 480px;
}
