
<p>EPFL's Summer Research Institute can look back on a long and successful history. For more information on the past events refer to one of the links below.</p>

<div>
<a href="http://suri-past.epfl.ch/start">2016</a> - 
<a href="http://suri-past.epfl.ch/past/2015">2015</a> -
<a href="http://suri-past.epfl.ch/past/2014">2014</a> -
<a href="http://suri-past.epfl.ch/past/2013">2013</a> -
<a href="http://suri-past.epfl.ch/past/2012">2012</a> -
<a href="http://suri-past.epfl.ch/past/2011">2011</a> -
<a href="http://suri-past.epfl.ch/past/2010">2010</a> -
<a href="http://suri-past.epfl.ch/past/2009">2009</a>
</div>
<div>
<a href="http://suri-past.epfl.ch/past/2008">2008</a> -
<a href="http://suri-past.epfl.ch/past/2007">2007</a> -
<a href="http://suri-past.epfl.ch/past/2006">2006</a> -
<a href="http://suri-past.epfl.ch/past/2005">2005</a> -
<a href="http://suri-past.epfl.ch/past/2004">2004</a> -
<a href="http://suri-past.epfl.ch/past/2003">2003</a> -
<a href="http://suri-past.epfl.ch/past/2002">2002</a> -
<a href="http://suri-past.epfl.ch/past/2001">2001</a> -
<a href="http://suri-past.epfl.ch/past/2000">2000</a>
</div>
