{{ if eq .Site.Params.program "true" }} 
    {{ $path := $.Scratch.Get "path" }}
    {{ range $path }}
            <br>
            <article class="item">
            <header>
                <h3><strong>{{ .date }}</strong></h3>
            {{ range .entries }}
            <div class="talk">
                <span class="time">{{ .time }}</span>
                <span class="title">{{ .title }}</span>
                {{ if .speaker }}<span class="speaker"> – <a href="#{{ .speaker }}">{{ .speaker }}</a></span>{{ end }}
            </div>
            {{ end }}
            </header>
            </article>
        </ul>
    {{ end }}
{{ else }}
    <h4>To be announced</h4>
{{ end }}

