{{ if eq .Site.Params.program "true" }} 
    {{ $path := $.Scratch.Get "path" }}
    {{ range $i, $p := $path }}
            <br>
            <article class="item">
            <header>
                <h3><strong>{{ .date }}</strong></h3>
                {{ range $j, $entry := $p.entries }}
                    <div class="talk">
                        <span class="time">{{ .time }}</span>
                        <span class="title">
                        {{ if .speaker }}
                            <a href="#talk-{{ $i }}{{ $j }}">{{ .title }}</a>
                        {{ else }}
                            {{ .title }}
                        {{ end }}
                        </span>
                        {{ if .speaker }}<span class="speaker"> – <a href="#{{ .speaker }}">{{ .speaker }}</a></span>{{ end }}
                        {{ if .pdf }}<span>&nbsp;<a href="{{ .pdf }}">[slides]</a></span> {{ end }}
                    </div>
                {{ end }}
            </header>
            </article>
        </ul>
    {{ end }}
{{ else }}
    <h4>To be announced</h4>
{{ end }}

